## Question - 21
Write a Python program to <b>count the values associated with key</b> in a dictionary.<br>
Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success': False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]<br>
Expected result: Count of how many dictionaries have success as True<br>

In [16]:
data = [{'id': 1, 'success': True, 'name': 'Lary'},
         {'id': 2, 'success': False, 'name': 'Rabi'}, 
         {'id': 3, 'success': True, 'name': 'Alex'}]
    
count = 0
for d in data:
    if d['success']:
        count += 1
print(count)

2

### OR

In [15]:
data = [{'id': 1, 'success': True, 'name': 'Lary'},
         {'id': 2, 'success': False, 'name': 'Rabi'}, 
         {'id': 3, 'success': True, 'name': 'Alex'}]

result = sum(d['success'] for d in data)
print(result)

2

## Question - 22
Write a Python program to <b>convert a list into a nested dictionary of keys</b>.

In [25]:
num_list = [1, 2, 3, 4]
new_dict = current = {}
for name in num_list:
    current[name] = {}
    current = current[name]
    
print(new_dict)
print(current)

{1: {2: {3: {4: {}}}}}
{}

## Question - 23
Write a Python program to <b>sort a list alphabetically</b> in a dictionary.

In [26]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

sorted_dict = { k:sorted(v) for k,v in num.items()}
print(sorted_dict)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

## Question - 24
Write a Python program to <b>remove spaces</b> from dictionary keys.

In [34]:
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

student_dict = { k.translate({32:None}):v for k,v in student_list.items()}
print(student_dict)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

### OR

In [30]:
student_list = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

student_dict = { k.replace(' ',''):v for k,v in student_list.items()}
print(student_dict)

{'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

## Question - 25
 Write a Python program to <b>get the top three items</b> in a shop.<br>
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}<br>
Expected Output:<br>
item4 55<br>
item1 45.5<br>
item3 41.3<br>

In [40]:
from heapq import nlargest

data = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

three_large = nlargest(3,data, key = data.get)
for d in three_large:
    print(d, data[d])

item4 55
item1 45.5
item3 41.3

### OR

In [43]:
from heapq import nlargest
from operator import itemgetter

data = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

for key,value in nlargest(3, data.items(), key=itemgetter(1)):
    print(key, value)

item4 55
item1 45.5
item3 41.3