# Python Features

In [ ]:
'''
1) python is open source programming 
2) python dynamic in data type 
3) python is multi purpouse programming 
4) python is pure OOP 
5) Python is high level programming 
6) python integrated programming 

Data type :
basic data types 
Integer 
 Float 
 Boolean
 Complex 
 str
advance or collection datatype of python 
 List 
 Tuple 
 Dictionary 
 set
 Python variable are dynamic in datatype 
'''

In [1]:
x= 100

In [2]:
type(x)

int

In [3]:
x=100.00
type(x)

float

In [ ]:
'''
When we declare a variable whatever we store 
in that variable that will be datatype of it 
python recreate that same name variable at diff memory 
location on base of specified values 
'''

In [ ]:
x="Itvedant"
type(x)

In [ ]:
id(x)

In [ ]:
x=True
type(x)

In [ ]:
id(x)

In [ ]:
x=[10,20,30]
type(x)

In [ ]:
id(x)

In [ ]:
# i can also ddecalre python variable with some default value of datatye 
x=int()

In [ ]:
type(x)

In [ ]:
#default value of integer data type is 0 
x

In [ ]:
x=str()

In [ ]:
type(x)

In [ ]:
# default value of string data type is ""
x

In [ ]:
x=complex()

In [ ]:
type(x)

In [ ]:
x

In [ ]:
'''
the size of integer in python is upto memory 
so i can store 32 byte size integer value 
'''

In [ ]:
x=100**100

In [ ]:
x

In [ ]:
x=1000**1000

In [ ]:
x

In [ ]:
'''
its depend on processor which you have that much amount of value 
it can store there no specific limit for integer in python 

Home work 
Size of Float ,str,boolean,long,list,tuple,dictionary,set 
'''

In [ ]:
'''
Float:

Almost all platforms represent Python float values as 64-bit “double-precision” values, 
according to the IEEE 754 standard. In that case, the maximum value a floating-point number 
can have is approximately 1.8 ⨉ 10308. Python will indicate a number greater than that by the string inf:

'''

In [36]:
x = 1.79e308
x

1.79e+308

In [38]:
x = 1.8e308
x

inf

In [ ]:
'''
I would argue that a complex number needs 32 bytes for the complex number object itself 
and 2*24 bytes for the real and imaginary parts (float type). In total, a complex number needs 80 bytes in memory.
'''

In [40]:
x = 2+3j

In [41]:
x

(2+3j)

In [42]:
type(x)

complex

In [ ]:
'''
=> String
Maximum length of a string is platform dependent and depends upon address space and/or RAM. 
The maxsize constant defined in sys module returns 263-1 on 64 bit system.
'''

# Python Assignment types

In [ ]:
'''
python provide assignment operator 

normal assignment operator 
    =
shorthand assignment 
    +=
    -=
    /=
    //=
    **=
    *=
    %=
to assign some values to variable 
assignment operator assigns values from right to left direction 
  x <- 100
  x= 100 
Rule : 
 1) in python assignment creats object referece 
    it is not creating new memory for a variable 
    x=int() # is object of integer class 
    x=10 same x is an object intgere 
    s="itvedant" # object of string class s allows me to access all methods 
'''

In [45]:
x = 100

In [46]:
y = x

In [47]:
x

100

In [48]:
y

100

In [49]:
y = 20

In [50]:
y

20

In [51]:
x

100

In [52]:
id(x)

140735117045232

In [53]:
# diff memory address
id(y)

140735117042672

In [ ]:
'''
2) python creates a variable name the first time when they
are assign a value 

3) Name must be assigned before being referenced 

4) there are some operation that perform assignments implicity 
'''

## Assignment Types

In [54]:
# 1) Basic Assignments 
x=100
name='Itvedant'
y=str()

In [67]:
# 2) Tuple Assignments 
x,y=50,100
print("x => ",x,"loc",id(a))
print("y => ",y,"loc",id(b))

x =>  50 loc 1765186603504
y =>  100 loc 1765185318768

In [56]:
# 3) List Assignments 
[a,b]=[2,4]
print("a => ",a)
print("b => ",b)

a =>  2
b =>  4

In [57]:
type(a)

int

In [58]:
type(b)

int

In [59]:
# 4) Sequence Assignments 
a,b,c='GOD'
print("a => ",a,type(a))
print("b => ",b,type(b))
print("c => ",c,type(c))

a =>  G <class 'str'>
b =>  O <class 'str'>
c =>  D <class 'str'>

In [60]:
# 5) Extended Sequence unpacking 
p,*q ='Hello' # * is collect all character and store as a list 
print("p =>",p)
print("q =>",q)

p => H
q => ['e', 'l', 'l', 'o']

In [5]:
ranks=['A','B','C','D']
first,*rest=ranks
print("winner => ",first)
print("other => ",rest)
s=','.join(rest)
print("Runner up => ",s)
# print("Runner up => ",','.join(rest))

print("other in tuple => ",tuple(rest))

winner =>  A
other =>  ['B', 'C', 'D']
Runner up =>  B,C,D
other in tuple =>  ('B', 'C', 'D')

In [8]:
# 6) Multiple Tager Assignments
x=y=75
print(x,type(x),id(x))
print(y,type(y),id(y))

75 <class 'int'> 140729455520464
75 <class 'int'> 140729455520464

In [9]:
x = 200

In [10]:
y

75

In [11]:
x

200

In [ ]:
# 7) Short hand or Augmented assignment 
x=2
x+=1
print(x)
'''
+=
-=
*=
//= etc.. see list above 
'''

### EX - 1

In [ ]:
'''
Write a program which will find all such numbers which are
divisible by 7 but are not a multiple of 5, 
between 2000 and 3200 (both included).The numbers obtained 
should be printed in a 
comma-separated sequence on a single line. '''

In [71]:
# Looping
for i in range(2000,3201):
    if i%7 ==0 and i% 5 !=0:
        print(i,end=",")
print("\b")  # backslash

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [78]:
# tuple comprehension and it possible becasue of generator 

print(*(i for i in range(2000,3201) if i%7 ==0 and i%5!=0 ),sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [79]:
# it will return object of generator instead elements 
print((i for i in range(2000,3201) if i%7 ==0 and i%5!=0 ),sep=",")

<generator object <genexpr> at 0x0000019AFFD51A48>

In [2]:
# List comprehension and it possible becasue of generator 
print(*[i for i in range(2000,3201) if i%7==0 and i%5!=0],sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Ex - 2

In [ ]:
'''
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence
on a single line.Suppose the following input is supplied to
the program:
8 Then, the output should be:40320 '''

In [ ]:
'''
1) while loop
2) for loop 
3) recursion 
4) lambda expression '''

In [89]:
num = int(input())
fact = 1
while num > 0:
    fact *= num
    num -= 1
    
print(fact)

-5
1

In [88]:
num = int(input())
fact = 1
for i in range(num,0,-1):
    fact *= i
print(fact)

5
120

In [92]:
def recur_fact(x):
    if x == 1:
        return x
    else:
        return x * recur_fact(x-1)
    
num = int(input())    
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_fact(num))

-5
Sorry, factorial does not exist for negative numbers

In [93]:
fact = lambda x: 1 if x == 0 else x * fact(x-1)
fact(5)

120

### Ex - 3

In [ ]:
'''
With a given integral number n, write a program to generate a
dictionary that contains (i, i x i) such that is an integral
number between 1 and n (both included). and then the program 
should print the dictionary.Suppose the following input is 
supplied to the program: 8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

1) using for loop 
2) using dictionary comprehension 
'''

In [6]:
n = int(input())
d = {}
for i in range(1,n+1):
    sqr = i * i
    d[i]= sqr
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [7]:
#  {key: value for (key, value) in iterable}
n = int(input())
mydict = { i:i**2 for i in range(1,n+1)}
print(mydict)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Ex - 4

In [ ]:
'''
Write a program which accepts a sequence of comma-separated numbers
from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:

34,67,55,33,12,98

['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')
'''

In [10]:
# comma separated input
n = list(map(int,input().split(",")))
print(n)
print(tuple(n))

34,67,55,33,12,98
[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

In [14]:
# space separated input
n = list(map(int,input().rstrip().split()))
print(n)
print(tuple(n))

37 67 55 33 12 98
[37, 67, 55, 33, 12, 98]
(37, 67, 55, 33, 12, 98)

In [17]:
# string input
lst = input().split(",")
print(lst)
print(tuple(lst))

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [20]:
n = map(str,input().split(","))
print(n)
print(tuple(n))

34,67,55,33,12,98
<map object at 0x000001895370B0C8>
('34', '67', '55', '33', '12', '98')

In [21]:
n = list(map(str,input().split(",")))
print(n)
print(tuple(n))

34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### Ex -5

In [ ]:
'''
Write a program that calculates and prints the value according to 
the given formula:

Q = Square root of [(2 * C *D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program 
in a comma-separated sequence.For example Let us assume the following
comma separated input 
sequence is given to the program:
    
100,150,180

then output must be 

18,22,24 
'''

In [6]:
from math import sqrt

C,H = 50,30
def calc(D):
    D = int(D)
    print(D)
    return str(int(sqrt((2 * C *D)/H)))

D = input().split(",")
D = list(map(calc,D))   # map(fun, iter)
print(",".join(D))     # join need string

100,150,180
100
150
180
18,22,24

In [9]:
from math import sqrt

C,H = 50,30
def calc(D):
    return sqrt((2 * C * D)/H)

print(",".join([str(int(calc(int(i)))) for i in input().split(",")]))

100,150,180
18,22,24

In [18]:
from math import sqrt  # import specific functions as importing all using *

# is bad practice

C, H = 50, 30


def calc(D):
    return sqrt((2 * C * D) / H)


D = [int(i) for i in input().split(",")]  # splits in comma position and set up in list
print(D)
D = [int(i) for i in D]  # converts string to integer
print(D)
D = [calc(i) for i in D]  # returns floating value by calc method for every item in D
print(D)
D = [round(i) for i in D]  # All the floating values are rounded
print(D)
D = [
    str(i) for i in D
]  # All the integers are converted to string to be able to apply join operation

print(",".join(D))

100,150,180
[100, 150, 180]
[100, 150, 180]
[18.257418583505537, 22.360679774997898, 24.49489742783178]
[18, 22, 24]
18,22,24